*/*/*.tgz
*/*/*/*.tgz
*/*.tar.xz
*/*/*.tar.gz
*/*/*.tar.bz2
*/*/*.tar.xz
*/*/*/*.tar.gz
*/*/*/*.tar.bz2
*/*/*/*.tar.xz
*/*/*/*/*.tar.xz
*/*/*/*.rpm
*/*/*/*.rpm
*/*/*.bin
*/*/*.zip
*/*/*/*.zip
*/*/*.jar
CHECKSUMS.md5
CHECKSUMS.md5.asc
FILE_LIST
MANIFEST.bz2
